body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: center no-repeat url('../assets/home.png');
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left{
    padding: 20px;
    width: 50%;
}

.right{
    padding: 20px;
    width: 30%;
}

.center{
    width: 20%;
    height: auto;
    padding: 40px;
    
}

.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    gap: 40px;
}


.monster{
    width: 220px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
}

@media (max-width: 1140px){
    .monster{
        width: 180px;
        height: 220px;
    }
    .left{
        width: 50%;
        gap: 10px;
    }
}

.monster:hover{
    transform: scale(1.5);
} 

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.center span{
    font-size: 24px;
    color: #fff;
}

.levels{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.level{
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.level:hover, .mix:hover{
    background-color: coral;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

.mix{
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shirt, .result{
    width: 180px;
    height: fit-content;
    cursor: pointer;    
}

.shirt img{
    width: 100%;
}

.result{
    width: 200px;
    height: 260px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.result:hover{
    transform: scale(1.5);
}

.active{
    outline: 3px solid coral;
}

.active-show{
    background-color: coral;
}

.stage-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stage-text {
    color: #fff;
    font-size: 21px;
}

.dots-container{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.dot{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.green{
    background-color: green;
}

.brown{
    background-color: rgb(170, 21, 21);
}

.blue{
    background-color: blue;
}

.hidden{
    visibility: hidden;
}